.color{
    margin: 2px;
    width:10px;
    height:10px;
}
.bgcolor{
    position:absolute;
    background-color: #1b0448; 
    background-size:cover; 
    width: 100%;
    height: 100vh;
}
.answer{
    text-align: center; 
    color: white;
    font-size: 40px;
}