<body>
        <div class="container mt-5">
            <div class="row my-5"></div>
            <div class="row my-5"></div>
            <div class="row mt-5 text-center">
                <div class="col-12 text-center">
                   <div class="text-center" style="color: aliceblue; font-size: 50px; font-family: 'Potta One', cursive;"> QUICK DRAW GAME</div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 btn btn1 text-center mt-5 p-3 " routerLink="/dataset" routerLinkActive="active"><b>Create Data Set</b></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 btn btn2 text-center mt-5 p-3" routerLink="/result" routerLinkActive="active"><b>Play Game</b></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <style>
            .btn1:hover , .btn2{
                border: 2px solid greenyellow;
                background-color: greenyellow;
                color:blue; 
                border-radius: 20px; 
                font-size: 25px; 
            }
            .btn2:hover , .btn1{
                background-color: transparent;
                border: 2px solid greenyellow; 
                border-radius: 20px; 
                font-size: 25px; 
                color: greenyellow;
            }
        </style>
    </body>
